<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="fr-FR"
      prefix="og: http://ogp.me/ns#" >
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="fr-FR"
      prefix="og: http://ogp.me/ns#" >
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="fr-FR"
      prefix="og: http://ogp.me/ns#" >
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="fr-FR"
      prefix="og: http://ogp.me/ns#" >
<!--<![endif]-->

<!-- Mirrored from rotaractfrance.org/conference-du-rotaractinteract-district-1660/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Feb 2019 18:59:44 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../../../dist/css/lightboxgallery-min.css">
    <link rel="stylesheet" href="../../../css/style.css">


</head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="pingback" href="../../../xmlrpc.php" />

    <!--[if lt IE 9]>
    <script src="https://rotaractfrance.org/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
        document.documentElement.className = 'js';
    </script>

    <style>
        .images{
            display:block;
            margin:auto;
            margin-top: 2%;
        }
    </style>

    <title>Christmas Project</title>
    <script type="text/javascript" id="wpuf-language-script">
        var error_str_obj = {
            'required' : 'is required',
            'mismatch' : 'does not match',
            'validation' : 'is not valid'
        }
    </script>

    <!-- All in One SEO Pack 2.10 by Michael Torbert of Semper Fi Web Design[800,875] -->
    <link rel="canonical" href="index.html" />
    <meta property="og:title" content="Conférence du Rotaract&amp;Interact District 1660 | | Rotaract France" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://rotaractfrance.org/conference-du-rotaractinteract-district-1660/" />
    <meta property="og:image" content="https://rotaractfrance.org/wp-content/uploads/2018/11/Conf16610_3.png" />
    <meta property="og:site_name" content="Rotaract France" />
    <meta property="og:description" content="Le 30 Septembre 2018 a eu lieu la conférence de début année du Rotaract &amp; Interact District 1660. Depuis 4 ans, c&#039;est une rencontre annuelle dont l&#039;objectif est de présenter l&#039;équipe du District, de partager des informations de la nouvelle année, favoriser des synergies en matière de communication et surtout de renforcer le lien entre les clubs, et le lien entre le Rotary et le Rotaract. Cette année, l&#039;événement a réuni plus de 60 participants dont les Rotariens, les Rotaractiens, les Interactiens mais aussi beaucoup de nouveaux visiteurs qui voudraient découvrir le Rotaract. La 1ère partie de la conférence : la présentation des 14 clubs Rotaract et du club Interact du District par les présidents, afin de promouvoir leurs actions et leurs événements. La 2ème partie : la présentation du Rotaract et Rotary District 1660, du Rotaract France, ainsi que des interventions sur les sujets &quot;Rotaract, au delà des actions/réunions du club&quot; et &quot;Du Rotaract au Rotary&quot;. Nous avons eu" />
    <meta property="article:published_time" content="2018-11-15T22:25:11Z" />
    <meta property="article:modified_time" content="2018-11-15T22:25:11Z" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rotaractfrance" />
    <meta name="twitter:title" content="Conférence du Rotaract&amp;Interact District 1660 | | Rotaract France" />
    <meta name="twitter:description" content="Le 30 Septembre 2018 a eu lieu la conférence de début année du Rotaract &amp; Interact District 1660. Depuis 4 ans, c&#039;est une rencontre annuelle dont l&#039;objectif est de présenter l&#039;équipe du District, de partager des informations de la nouvelle année, favoriser des synergies en matière de communication et surtout de renforcer le lien entre les clubs, et le lien entre le Rotary et le Rotaract. Cette année, l&#039;événement a réuni plus de 60 participants dont les Rotariens, les Rotaractiens, les Interactiens mais aussi beaucoup de nouveaux visiteurs qui voudraient découvrir le Rotaract. La 1ère partie de la conférence : la présentation des 14 clubs Rotaract et du club Interact du District par les présidents, afin de promouvoir leurs actions et leurs événements. La 2ème partie : la présentation du Rotaract et Rotary District 1660, du Rotaract France, ainsi que des interventions sur les sujets &quot;Rotaract, au delà des actions/réunions du club&quot; et &quot;Du Rotaract au Rotary&quot;. Nous avons eu" />
    <meta name="twitter:image" content="https://rotaractfrance.org/wp-content/uploads/2018/11/Conf16610_3.png" />
    <meta itemprop="image" content="https://rotaractfrance.org/wp-content/uploads/2018/11/Conf16610_3.png" />
    <!-- /all in one seo pack -->
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Rotaract France &raquo; Flux" href="../../../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Rotaract France &raquo; Flux des commentaires" href="../../../comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Rotaract France &raquo; Conférence du Rotaract&#038;Interact District 1660 Flux des commentaires" href="feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/rotaractfrance.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.9"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <meta content="Divi Rotaract v.3.0.71.1503951418" name="generator"/><style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='db121_socicons-css'  href='../../../wp-content/plugins/divi-booster/core/fixes/126-customizer-social-icons/iconsf2fb.css?ver=2.7.9' type='text/css' media='all' />
    <link rel='stylesheet' id='wtfdivi-user-css-css'  href='../../../wp-content/uploads/wtfdivi/wp_head6071.css?ver=1504648447' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-article-cards-css'  href='../../../wp-content/plugins/divi-100-article-card/assets/css/styleeb35.css?ver=20160602' type='text/css' media='all' />
    <style id='custom-article-cards-inline-css' type='text/css'>
        .divi-100-article-card .et_pb_blog_grid .article-card__category,
        .divi-100-article-card .et_pb_blog_grid .article-card__date { background-color: #d91b5c; }
        .divi-100-article-card .et_pb_blog_grid .article-card__sub-title { color: #d91b5c; }
    </style>
    <link rel='stylesheet' id='custom-hamburger-menus-css'  href='../../../wp-content/plugins/divi-100-hamburger-menu/assets/css/styleeb35.css?ver=20160602' type='text/css' media='all' />
    <style id='custom-hamburger-menus-inline-css' type='text/css'>
        body.et_divi_100_custom_hamburger_menu .et_divi_100_custom_hamburger_menu__icon div {
            background: #ffffff;
        }
        body.et_divi_100_custom_hamburger_menu .et_divi_100_custom_hamburger_menu__icon.et_divi_100_custom_hamburger_menu__icon--toggled div {
            background: #ffffff;
        }
    </style>
    <link rel='stylesheet' id='chld_thm_cfg_parent-css'  href='../../../wp-content/themes/Divi/styled87f.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-style-css'  href='../../../wp-content/themes/DiviRotaract/stylea90c.css?ver=3.0.71.1503951418' type='text/css' media='all' />
    <link rel='stylesheet' id='et-builder-googlefonts-cached-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;ver=4.9.9#038;subset=latin,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css'  href='../../../wp-includes/css/dashicons.mind87f.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='wpuf-css-css'  href='../../../wp-content/plugins/wp-user-frontend/assets/css/frontend-formsd87f.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui-css'  href='../../../wp-content/plugins/wp-user-frontend/assets/css/jquery-ui-1.9.1.customd87f.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='wpuf-sweetalert2-css'  href='../../../wp-content/plugins/wp-user-frontend/assets/vendor/sweetalert2/dist/sweetalert241fe.css?ver=3.0.1' type='text/css' media='all' />
    <script type='text/javascript' src='../../../wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var ajax_object = {"ajaxurl":"https:\/\/rotaractfrance.org\/wp-admin\/admin-ajax.php","fill_notice":"Some Required Fields are not filled!"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='../../../wp-content/plugins/wp-user-frontend/assets/js/billing-addressd87f.js?ver=4.9.9'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/plupload/moxie.mine34c.js?ver=1.3.5'></script>
    <script type='text/javascript' src='../../../wp-includes/js/plupload/plupload.min6c17.js?ver=2.1.9'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pluploadL10n = {"queue_limit_exceeded":"Vous essayez d\u2019envoyer trop de fichiers \u00e0 la fois.","file_exceeds_size_limit":"%s d\u00e9passe la limite d\u2019envoi de ce site.","zero_byte_file":"Le fichier est vide. Veuillez en essayer un autre.","invalid_filetype":"D\u00e9sol\u00e9, ce type de fichier n\u2019est pas autoris\u00e9 pour des raisons de s\u00e9curit\u00e9.","not_an_image":"Ce fichier n\u2019est pas une image. Veuillez en envoyer un autre.","image_memory_exceeded":"M\u00e9moire d\u00e9pass\u00e9e. Veuillez r\u00e9essayer avec un fichier plus petit.","image_dimensions_exceeded":"Ce fichier est plus grand que la taille maximale. Veuillez en envoyer un autre.","default_error":"Une erreur est survenue lors du t\u00e9l\u00e9versement. Veuillez r\u00e9essayer plus tard.","missing_upload_url":"Il y a une erreur de configuration. Veuillez contacter l\u2019administrateur de votre serveur.","upload_limit_exceeded":"Vous ne pouvez t\u00e9l\u00e9verser qu\u2019un fichier.","http_error":"Erreur HTTP.","upload_failed":"L\u2019envoi a \u00e9chou\u00e9.","big_upload_failed":"Veuillez essayer de t\u00e9l\u00e9verser ce fichier \u00e0 l\u2019aide de l\u2019%1$soutil de t\u00e9l\u00e9versement%2$s.","big_upload_queued":"%s d\u00e9passe la limite d\u2019envoi pour l\u2019outil de mise ne ligne multiple utilis\u00e9 avec votre navigateur.","io_error":"Erreur I\/O (entr\u00e9es-sorties).","security_error":"Erreur de s\u00e9curit\u00e9.","file_cancelled":"Fichier annul\u00e9.","upload_stopped":"L\u2019envoi est stopp\u00e9.","dismiss":"Ignorer","crunching":"En cours de traitement\u2026","deleted":"d\u00e9plac\u00e9 dans la corbeille.","error_uploading":"\u00ab\u00a0%s\u00a0\u00bb n\u2019a pas pu \u00eatre t\u00e9l\u00e9vers\u00e9."};
        /* ]]> */
    </script>
    <script type='text/javascript' src='../../../wp-includes/js/plupload/handlers.mind87f.js?ver=4.9.9'></script>
    <script type='text/javascript' src='../../../wp-content/plugins/wp-user-frontend/assets/js/jquery-ui-timepicker-addond87f.js?ver=4.9.9'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/sortable.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpuf_frontend_upload = {"confirmMsg":"\u00cates-vous s\u00fbr ?","delete_it":"Yes, delete it","cancel_it":"No, cancel it","nonce":"b6c0bd26ad","ajaxurl":"https:\/\/rotaractfrance.org\/wp-admin\/admin-ajax.php","plupload":{"url":"https:\/\/rotaractfrance.org\/wp-admin\/admin-ajax.php?nonce=63d80bf0ab","flash_swf_url":"https:\/\/rotaractfrance.org\/wp-includes\/js\/plupload\/plupload.flash.swf","filters":[{"title":"Fichiers autoris\u00e9s","extensions":"*"}],"multipart":true,"urlstream_upload":true,"warning":"Maximum number of files reached!","size_error":"The file you have uploaded exceeds the file size limit. Please try again.","type_error":"You have uploaded an incorrect file type. Please try again."}};
        /* ]]> */
    </script>
    <script type='text/javascript' src='../../../wp-content/plugins/wp-user-frontend/assets/js/uploadd87f.js?ver=4.9.9'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpuf_frontend = {"ajaxurl":"https:\/\/rotaractfrance.org\/wp-admin\/admin-ajax.php","error_message":"Veuillez corriger les erreurs pour continuer","nonce":"b6c0bd26ad","word_limit":"Word limit reached","cancelSubMsg":"Are you sure you want to cancel your current subscription ?","delete_it":"Oui","cancel_it":"Non"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='../../../wp-content/plugins/wp-user-frontend/assets/js/frontend-form.mind87f.js?ver=4.9.9'></script>
    <script type='text/javascript' src='../../../wp-content/plugins/wp-user-frontend/assets/vendor/sweetalert2/dist/sweetalert241fe.js?ver=3.0.1'></script>
    <link rel='https://api.w.org/' href='../../../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../../../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../../../wp-includes/wlwmanifest.xml" />
    <link rel='prev' title='P’tits déjeuners Solidaires du Rotaract de Tours' href='../../../ptits-dejeuners-solidaires-du-rotaract-de-tours/index.html' />
    <link rel='next' title='SAN DIEGO &#038; L’ASSEMBLEE INTERNATIONALE DU ROTARY : Les Français débarquent !' href='../../../san-diego-lassemblee-internationale-du-rotary-les-francais-debarquent/index.html' />
    <meta name="generator" content="WordPress 4.9.9" />
    <link rel='shortlink' href='../../../index4399.html?p=206071' />
    <link rel="alternate" type="application/json+oembed" href="../../../wp-json/oembed/1.0/embedc1b3.json?url=https%3A%2F%2Frotaractfrance.org%2Fconference-du-rotaractinteract-district-1660%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../../../wp-json/oembed/1.0/embed42c6?url=https%3A%2F%2Frotaractfrance.org%2Fconference-du-rotaractinteract-district-1660%2F&amp;format=xml" />
    <style>
        .db_pb_team_member_website_icon:before{content:"\e0e3";}
        .db_pb_team_member_email_icon:before{content:"\e010";}
        .db_pb_team_member_instagram_icon:before{content:"\e09a";}
    </style>
    <style>#et_builder_outer_content .db_pb_button_2,.db_pb_button_2{margin-left:30px}</style>        <style>

    </style>
    {% raw %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><link rel="shortcut icon" href="../../../wp-content/uploads/2017/06/Rac-France-Dedans-2.png" /><style id="et-divi-customizer-global-cached-inline-styles">body,.et_pb_column_1_2 .et_quote_content blockquote cite,.et_pb_column_1_2 .et_link_content a.et_link_main_url,.et_pb_column_1_3 .et_quote_content blockquote cite,.et_pb_column_3_8 .et_quote_content blockquote cite,.et_pb_column_1_4 .et_quote_content blockquote cite,.et_pb_blog_grid .et_quote_content blockquote cite,.et_pb_column_1_3 .et_link_content a.et_link_main_url,.et_pb_column_3_8 .et_link_content a.et_link_main_url,.et_pb_column_1_4 .et_link_content a.et_link_main_url,.et_pb_blog_grid .et_link_content a.et_link_main_url,body .et_pb_bg_layout_light .et_pb_post p,body .et_pb_bg_layout_dark .et_pb_post p{font-size:19px}.et_pb_slide_content,.et_pb_best_value{font-size:21px}h1,h2,h3,h4,h5,h6{color:#0dade8}body{line-height:1.1em}.woocommerce #respond input#submit,.woocommerce-page #respond input#submit,.woocommerce #content input.button,.woocommerce-page #content input.button,.woocommerce-message,.woocommerce-error,.woocommerce-info{background:#d91b5c!important}#et_search_icon:hover,.mobile_menu_bar:before,.mobile_menu_bar:after,.et_toggle_slide_menu:after,.et-social-icon a:hover,.et_pb_sum,.et_pb_pricing li a,.et_pb_pricing_table_button,.et_overlay:before,.entry-summary p.price ins,.woocommerce div.product span.price,.woocommerce-page div.product span.price,.woocommerce #content div.product span.price,.woocommerce-page #content div.product span.price,.woocommerce div.product p.price,.woocommerce-page div.product p.price,.woocommerce #content div.product p.price,.woocommerce-page #content div.product p.price,.et_pb_member_social_links a:hover,.woocommerce .star-rating span:before,.woocommerce-page .star-rating span:before,.et_pb_widget li a:hover,.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,.et_pb_gallery .et_pb_gallery_pagination ul li a.active,.wp-pagenavi span.current,.wp-pagenavi a:hover,.nav-single a,.posted_in a{color:#d91b5c}.et_pb_contact_submit,.et_password_protected_form .et_submit_button,.et_pb_bg_layout_light .et_pb_newsletter_button,.comment-reply-link,.form-submit .et_pb_button,.et_pb_bg_layout_light .et_pb_promo_button,.et_pb_bg_layout_light .et_pb_more_button,.woocommerce a.button.alt,.woocommerce-page a.button.alt,.woocommerce button.button.alt,.woocommerce-page button.button.alt,.woocommerce input.button.alt,.woocommerce-page input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce-page #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page #content input.button.alt,.woocommerce a.button,.woocommerce-page a.button,.woocommerce button.button,.woocommerce-page button.button,.woocommerce input.button,.woocommerce-page input.button,.et_pb_contact p input[type="checkbox"]:checked+label i:before,.et_pb_bg_layout_light.et_pb_module.et_pb_button{color:#d91b5c}.footer-widget h4{color:#d91b5c}.et-search-form,.nav li ul,.et_mobile_menu,.footer-widget li:before,.et_pb_pricing li:before,blockquote{border-color:#d91b5c}.et_pb_counter_amount,.et_pb_featured_table .et_pb_pricing_heading,.et_quote_content,.et_link_content,.et_audio_content,.et_pb_post_slider.et_pb_bg_layout_dark,.et_slide_in_menu_container,.et_pb_contact p input[type="radio"]:checked+label i:before{background-color:#d91b5c}a{color:#d91b5c}#main-header,#main-header .nav li ul,.et-search-form,#main-header .et_mobile_menu{background-color:#d91b5c}.nav li ul{border-color:#ffffff}#top-header,#et-secondary-nav li ul{background-color:#d91b5c}.et_header_style_centered .mobile_nav .select_page,.et_header_style_split .mobile_nav .select_page,.et_nav_text_color_light #top-menu>li>a,.et_nav_text_color_dark #top-menu>li>a,#top-menu a,.et_mobile_menu li a,.et_nav_text_color_light .et_mobile_menu li a,.et_nav_text_color_dark .et_mobile_menu li a,#et_search_icon:before,.et_search_form_container input,span.et_close_search_field:after,#et-top-navigation .et-cart-info{color:#ffffff}.et_search_form_container input::-moz-placeholder{color:#ffffff}.et_search_form_container input::-webkit-input-placeholder{color:#ffffff}.et_search_form_container input:-ms-input-placeholder{color:#ffffff}#top-menu li.current-menu-ancestor>a,#top-menu li.current-menu-item>a,.et_color_scheme_red #top-menu li.current-menu-ancestor>a,.et_color_scheme_red #top-menu li.current-menu-item>a,.et_color_scheme_pink #top-menu li.current-menu-ancestor>a,.et_color_scheme_pink #top-menu li.current-menu-item>a,.et_color_scheme_orange #top-menu li.current-menu-ancestor>a,.et_color_scheme_orange #top-menu li.current-menu-item>a,.et_color_scheme_green #top-menu li.current-menu-ancestor>a,.et_color_scheme_green #top-menu li.current-menu-item>a{color:rgba(216,216,216,0.8)}#main-footer{background-color:#00324f}#footer-widgets .footer-widget a,#footer-widgets .footer-widget li a,#footer-widgets .footer-widget li a:hover{color:#ffffff}.footer-widget{color:#ffffff}#main-footer .footer-widget h4{color:#d91b5c}.footer-widget li:before{border-color:#d91b5c}#footer-widgets .footer-widget li:before{top:13.15px}#footer-bottom{background-color:#00324f}#footer-info{font-size:10px}#footer-bottom .et-social-icon a{font-size:10px}h1,h2,h3,h4,h5,h6,.et_quote_content blockquote p,.et_pb_slide_description .et_pb_slide_title{font-weight:bold;font-style:normal;text-transform:none;text-decoration:none}body.home-posts #left-area .et_pb_post .post-meta,body.archive #left-area .et_pb_post .post-meta,body.search #left-area .et_pb_post .post-meta,body.single #left-area .et_pb_post .post-meta{line-height:1.1em}body.home-posts #left-area .et_pb_post .post-meta,body.archive #left-area .et_pb_post .post-meta,body.search #left-area .et_pb_post .post-meta,body.single #left-area .et_pb_post .post-meta{font-weight:normal;font-style:italic;text-transform:none;text-decoration:none}body.home-posts #left-area .et_pb_post h2,body.archive #left-area .et_pb_post h2,body.search #left-area .et_pb_post h2,body.single .et_post_meta_wrapper h1{letter-spacing:1px}@media only screen and (min-width:981px){.et_header_style_left #et-top-navigation,.et_header_style_split #et-top-navigation{padding:44px 0 0 0}.et_header_style_left #et-top-navigation nav>ul>li>a,.et_header_style_split #et-top-navigation nav>ul>li>a{padding-bottom:44px}.et_header_style_split .centered-inline-logo-wrap{width:87px;margin:-87px 0}.et_header_style_split .centered-inline-logo-wrap #logo{max-height:87px}.et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo{height:87px}.et_header_style_centered #top-menu>li>a{padding-bottom:16px}.et_header_style_slide #et-top-navigation,.et_header_style_fullscreen #et-top-navigation{padding:35px 0 35px 0!important}.et_header_style_centered #main-header .logo_container{height:87px}#logo{max-height:100%}.et_pb_svg_logo #logo{height:100%}.et_header_style_left .et-fixed-header #et-top-navigation,.et_header_style_split .et-fixed-header #et-top-navigation{padding:28px 0 0 0}.et_header_style_left .et-fixed-header #et-top-navigation nav>ul>li>a,.et_header_style_split .et-fixed-header #et-top-navigation nav>ul>li>a{padding-bottom:28px}.et_header_style_centered header#main-header.et-fixed-header .logo_container{height:56px}.et_header_style_split .et-fixed-header .centered-inline-logo-wrap{width:56px;margin:-56px 0}.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo{max-height:56px}.et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo{height:56px}.et_header_style_slide .et-fixed-header #et-top-navigation,.et_header_style_fullscreen .et-fixed-header #et-top-navigation{padding:19px 0 19px 0!important}.et-fixed-header#top-header,.et-fixed-header#top-header #et-secondary-nav li ul{background-color:#d91b5c}.et-fixed-header #top-menu a,.et-fixed-header #et_search_icon:before,.et-fixed-header #et_top_search .et-search-form input,.et-fixed-header .et_search_form_container input,.et-fixed-header .et_close_search_field:after,.et-fixed-header #et-top-navigation .et-cart-info{color:#ffffff!important}.et-fixed-header .et_search_form_container input::-moz-placeholder{color:#ffffff!important}.et-fixed-header .et_search_form_container input::-webkit-input-placeholder{color:#ffffff!important}.et-fixed-header .et_search_form_container input:-ms-input-placeholder{color:#ffffff!important}.et-fixed-header #top-menu li.current-menu-ancestor>a,.et-fixed-header #top-menu li.current-menu-item>a{color:#d89eb7!important}body.home-posts #left-area .et_pb_post .post-meta,body.archive #left-area .et_pb_post .post-meta,body.search #left-area .et_pb_post .post-meta,body.single #left-area .et_pb_post .post-meta{font-size:10px}body.home-posts #left-area .et_pb_post h2,body.archive #left-area .et_pb_post h2,body.search #left-area .et_pb_post h2{font-size:39px}body.single .et_post_meta_wrapper h1{font-size:45px}}@media only screen and (min-width:1350px){.et_pb_row{padding:27px 0}.et_pb_section{padding:54px 0}.single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper{padding-top:81px}.et_pb_section.et_pb_section_first{padding-top:inherit}.et_pb_fullwidth_section{padding:0}}h1{font-size:36px}h2,.product .related h2,.et_pb_column_1_2 .et_quote_content blockquote p{font-size:30px}h3{font-size:26px}h4,.et_pb_circle_counter h3,.et_pb_number_counter h3,.et_pb_column_1_3 .et_pb_post h2,.et_pb_column_1_4 .et_pb_post h2,.et_pb_blog_grid h2,.et_pb_column_1_3 .et_quote_content blockquote p,.et_pb_column_3_8 .et_quote_content blockquote p,.et_pb_column_1_4 .et_quote_content blockquote p,.et_pb_blog_grid .et_quote_content blockquote p,.et_pb_column_1_3 .et_link_content h2,.et_pb_column_3_8 .et_link_content h2,.et_pb_column_1_4 .et_link_content h2,.et_pb_blog_grid .et_link_content h2,.et_pb_column_1_3 .et_audio_content h2,.et_pb_column_3_8 .et_audio_content h2,.et_pb_column_1_4 .et_audio_content h2,.et_pb_blog_grid .et_audio_content h2,.et_pb_column_3_8 .et_pb_audio_module_content h2,.et_pb_column_1_3 .et_pb_audio_module_content h2,.et_pb_gallery_grid .et_pb_gallery_item h3,.et_pb_portfolio_grid .et_pb_portfolio_item h2,.et_pb_filterable_portfolio_grid .et_pb_portfolio_item h2{font-size:21px}h5{font-size:19px}h6{font-size:16px}.et_pb_slide_description .et_pb_slide_title{font-size:55px}.woocommerce ul.products li.product h3,.woocommerce-page ul.products li.product h3,.et_pb_gallery_grid .et_pb_gallery_item h3,.et_pb_portfolio_grid .et_pb_portfolio_item h2,.et_pb_filterable_portfolio_grid .et_pb_portfolio_item h2,.et_pb_column_1_4 .et_pb_audio_module_content h2{font-size:19px}@media only screen and (max-width:767px){body,.et_pb_column_1_2 .et_quote_content blockquote cite,.et_pb_column_1_2 .et_link_content a.et_link_main_url,.et_pb_column_1_3 .et_quote_content blockquote cite,.et_pb_column_3_8 .et_quote_content blockquote cite,.et_pb_column_1_4 .et_quote_content blockquote cite,.et_pb_blog_grid .et_quote_content blockquote cite,.et_pb_column_1_3 .et_link_content a.et_link_main_url,.et_pb_column_3_8 .et_link_content a.et_link_main_url,.et_pb_column_1_4 .et_link_content a.et_link_main_url,.et_pb_blog_grid .et_link_content a.et_link_main_url{font-size:17px}.et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_content,.et_pb_best_value{font-size:19px}.et_pb_row,.et_pb_column .et_pb_row_inner{padding:29px 0}}h1,h2,h3,h4,h5,h6{font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif}body,input,textarea,select{font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif;font-weight:300}.et_pb_blurb h4{font-size:23px}#top-menu .current-menu-item a::before,#top-menu .current_page_item a::before{content:"";position:absolute;z-index:2;left:0;right:0}#top-menu li a:before{content:"";position:absolute;z-index:-2;left:0;right:100%;bottom:50%;background:#FFFFFF85;height:3px;-webkit-transition-property:right;transition-property:right;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}#top-menu li a:hover{opacity:1!important}#top-menu li a:hover:before{right:0}#top-menu li li a:before{bottom:10%;display:none}@media (min-width:981px)main-header.et-fixed-header{box-shadow:0 0 30px #121212!important;-webkit-box-shadow:0 0 30px #121212!important;-moz-box-shadow:0 0 30px #121212!important}}.nousrejoindre a{color:#FFF!important;line-height:9px;font-weight:600;padding:13px 16px!important;font-size:14px!important;background-color:#d91b5c;border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px;display:block;transition:all .5s ease;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;border:2px solid #FFF}.nousrejoindre a:hover{opacity:1!important;color:#fff!important;background-color:#f92c8b;border:2px solid #f92c8b}.et-fixed-header #top-menu .nousrejoindre a:hover{background-color:#fff;border:2px solid #fff;color:#d91b5c!important;box-shadow:0px 0px 20px #aab9c3;-moz-box-shadow:0px 0px 20px #aab9c3;-webkit-box-shadow:0px 0px 20px #aab9c3}.et-fixed-header #top-menu .nousrejoindre a{color:#fff!important;background-color:#f92c8b;box-shadow:0px 0px 50px rgba(255,255,255,0.4);-moz-box-shadow:0px 0px 50px rgba(255,255,255,0.4);-webkit-box-shadow:0px 0px 50px rgba(255,255,255,0.4);border:2px solid #f92c8b}.et-fixed-header.et_highlight_nav #top-menu .nousrejoindre a{background-color:#2cc2e6;border:2px solid #2cc2e6;animation:highlight-nav .8s ease;-webkit-animation:highlight-nav .8s ease}#main-header.et-fixed-header.et_highlight_nav #top-menu .nousrejoindre a:hover{background-color:#fff!important;border:2px solid #fff!important;box-shadow:0px 0px 20px #aab9c3;-moz-box-shadow:0px 0px 20px #aab9c3;-webkit-box-shadow:0px 0px 20px #aab9c3}@-webkit-keyframes highlight-nav{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes highlight-nav{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}}#main-content .container:before{background:none}#main-content .container:before{background:none}#sidebar{display:none}.et_mobile_menu li a:hover{background-color:transparent}.nousrejoindre a{padding-bottom:10px}@media (min-width:981px)left-area{width:100%;padding:23px 0px 0px!important;float:none!important}}h1.entry-title{padding-top:40px;margin-left:30px;margin-right:30px}</style></head>
<body class="post-template-default single single-post postid-206071 single-format-standard desktop divi-100-article-card et_divi_100_custom_hamburger_menu et_divi_100_custom_hamburger_menu--style-1 et_divi_100_custom_hamburger_menu--type-1 et_pb_button_helper_class et_fullwidth_nav et_non_fixed_nav et_show_nav et_cover_background et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_expand et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_right_sidebar et_divi_theme et_minified_js et_minified_css">
<div id="page-container">



    <header id="main-header" style="position:relative;" data-height-onload="87">
        <div class="container clearfix et_menu_container">
            <div class="logo_container">
                <span class="logo_helper"></span>
                <a href="../../../index.html">
                    <img src="../../../wp-content/logo/RotaractTyre.png" alt="Rotaract Tyre" id="logo" data-height-percentage="100" />
                </a>
            </div>
            <div id="et-top-navigation" data-height="87" data-fixed-height="56">
                {% endraw %}
                <nav id="top-menu-nav">
                    <ul id="top-menu" class="nav"><li id="menu-item-4421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-72 menu-item-4421"><a href="{{ path("homepage") }}">Home</a></li>
                        <li id="menu-item-204624" class="menu-item-has-children menu-item menu-item-type-custom menu-item-object-custom menu-item-204624"><a href="{{ path("aboutUs") }}">About Us</a>
                            <ul class="sub-menu">
                                <li id="menu-item-204961" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204961"><a href="{{ path("aboutUs") }}">About Rotaract</a></li>
                                <li id="menu-item-4415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204961"><a href="{{ path("team") }}">Our team</a></li>
                            </ul></li>
                        <li id="menu-item-59" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a href="{{ path("whatWeDo") }}">What we do</a></li>
                        <li id="menu-item-204292" class="current-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-204292"><a href="#">Gallery</a></li>
                        <li id="menu-item-204388" class="nousrejoindre menu-item menu-item-type-post_type menu-item-object-page menu-item-204388"><a href="{{ path("joinUs") }}">Join Us!</a></li>
                    </ul>								</nav>

{% raw %}
                <div id="et_mobile_nav_menu">
                    <div class="mobile_nav closed">
                        <span class="select_page">Sélectionner une page</span>
                        <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                    </div>
                </div>				</div>
        </div> <!-- .container -->
        <div class="et_search_outer">
            <div class="container et_search_form_container">
                <form role="search" method="get" class="et-search-form" action="https://rotaractfrance.org/">
                    <input type="search" class="et-search-field" placeholder="Rechercher &hellip;" value="" name="s" title="Rechercher:" />					</form>
                <span class="et_close_search_field"></span>
            </div>
        </div>
    </header> <!-- #main-header -->
    {% endraw %}

<body>
    <div id="et-main-area">
        <div id="main-container">

            <div class="container et_pb_post">
                <div>
                    <h1  style="margin-top: 5%; padding-top: 2%" class="entry-title">{{ projectName }}</h1>
                    <p class="post-meta"><span class="published">{{ projectDate }}</span></p>
                </div>
                {% if images is defined %}
                    <div class="lightboxgallery-gallery clearfix">
                        {% for image in images %}
                            <a class="lightboxgallery-gallery-item" target="_blank" href="{{ image.image_url }}">
                                <div>
                                    <img src="{{ image.thumbnail_url }}">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
                        <div id="sidebar">
                            <div id="nav_menu-2" class="et_pb_widget widget_nav_menu"><div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-204514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-204514"><a href="../../../index.html">Accueil</a></li>
                                        <li id="menu-item-204512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204512"><a href="../../../actualites/index.html">Actualités</a></li>
                                        <li id="menu-item-204513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204513"><a href="../../../lequipe-france/index.html">L&rsquo;équipe France</a></li>
                                        <li id="menu-item-204511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204511"><a href="../../../nous-rejoindre/index.html">Nous Rejoindre</a></li>
                                        <li id="menu-item-204519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-204519"><a target="_blank" href="http://rotary.org/">Rotary International</a></li>
                                        <li id="menu-item-204551" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-204551"><a target="_blank" href="http://www.crjfr.org/">Centre Rotarien de la Jeunesse</a></li>
                                        <li id="menu-item-204552" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-204552"><a target="_blank" href="http://www.lerotarien.org/">Le Rotarien</a></li>
                                        <li id="menu-item-205879" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205879"><a href="../../../accueil/newsletters/index.html">Newsletters</a></li>
                                        <li id="menu-item-205213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205213"><a href="../../../webmaster/index.html">Contacter les Webmasters</a></li>
                                    </ul></div></div> <!-- end .et_pb_widget -->	</div> <!-- end #sidebar -->
            </div> <!-- #main-content -->


            <footer id="main-footer">
                <div class="et_pb_section et_pb_section_1 et_pb_with_background et_pb_inner_shadow et_section_regular">




                    <div class=" et_pb_row et_pb_row_0 et_pb_row_fullwidth">
                        <div class="et_pb_column et_pb_column_1_2  et_pb_column_0 et_pb_css_mix_blend_mode_passthrough">


                            <div class="et_pb_module et_pb_image et-waypoint et_animated et_pb_image_0 et_always_center_on_mobile">


                                <span class="et_pb_image_wrap"><img src="../../../wp-content/logo/RotaractTyre.png" alt="" /></span>
                            </div>
                        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4  et_pb_column_1 et_pb_css_mix_blend_mode_passthrough">


                            <div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_0">


                                <div class="et_pb_text_inner">
                                    <p style="text-align: center;"><span style="font-size: 19px;">Follow Rotaract Tyre</span></p>
                                </div>
                            </div> <!-- .et_pb_text --><ul class="et_pb_social_media_follow et_pb_module et_pb_bg_layout_light  et_pb_social_media_follow_0 clearfix">


                                <li class="et_pb_social_icon et_pb_social_network_link et-social-facebook et_pb_social_media_follow_network_0">
                                    <a href="https://www.facebook.com/RACTYRE/" class="icon et_pb_with_border" title="Facebook"><span class="et_pb_social_media_follow_network_name">Facebook</span></a>

                                </li><li class="et_pb_social_icon et_pb_social_network_link et-social-instagram et_pb_social_media_follow_network_2">
                                    <a href="https://www.instagram.com/rotaracttyre/" class="icon et_pb_with_border" title="Instagram"><span class="et_pb_social_media_follow_network_name">Instagram</span></a>

                                </li>
                            </ul> <!-- .et_pb_counters -->
                        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4  et_pb_column_2 et_pb_css_mix_blend_mode_passthrough et-last-child">


                            <div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_1">


                                <div class="et_pb_text_inner">
                                    <p style="text-align: right;">Useful Links</p>
                                </div>
                            </div> <!-- .et_pb_text --><div class="et_pb_widget_area et_pb_widget_area_right clearfix et_pb_module et_pb_bg_layout_dark  et_pb_sidebar_0 et_pb_sidebar_no_border">


                                <div id="nav_menu-2" class="et_pb_widget widget_nav_menu"><div class="menu-footer-container"><ul id="menu-footer-1" class="menu"></li>
                                            <li id="menu-item-204512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204512"><a href="{{ path("aboutUs") }}">About Us</a></li>
                                            <li id="menu-item-204513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204513"><a href="{{ path("whatWeDo") }}">What we do</a></li>
                                            <li id="menu-item-204519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-204519"><a target="_blank" href="http://rotary.org/">Rotary International</a></li>
                                        </ul></div></div> <!-- end .et_pb_widget -->
                            </div> <!-- .et_pb_widget_area -->
                        </div> <!-- .et_pb_column -->


                    </div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_1">
                        <div class="et_pb_column et_pb_column_4_4  et_pb_column_3 et_pb_css_mix_blend_mode_passthrough et-last-child">


                            <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_2">


                            </div> <!-- .et_pb_text -->
                        </div> <!-- .et_pb_column -->


                    </div> <!-- .et_pb_row -->


                </div> <!-- .et_pb_section -->


                <div id="footer-bottom">
                    <div class="container clearfix">
                    </div>	<!-- .container -->
                </div>
            </footer> <!-- #main-footer -->
        </div> <!-- #et-main-area -->


    </div> <!-- #page-container -->

    <script type="text/javascript">
        var et_animation_data = [{"class":"et_pb_image_0","style":"fade","repeat":"once","duration":"500ms","delay":"0ms","intensity":"50%","starting_opacity":"0%","speed_curve":"ease-in-out"}];
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var et_shortcodes_strings = {"previous":"Pr\u00e9c\u00e9dent","next":"Suivant"};
        var et_pb_custom = {"ajaxurl":"https:\/\/rotaractfrance.org\/wp-admin\/admin-ajax.php","images_uri":"https:\/\/rotaractfrance.org\/wp-content\/themes\/Divi\/images","builder_images_uri":"https:\/\/rotaractfrance.org\/wp-content\/themes\/Divi\/includes\/builder\/images","et_frontend_nonce":"78f5cf2003","subscription_failed":"Veuillez v\u00e9rifier les champs ci-dessous pour vous assurer que vous avez entr\u00e9 les informations correctes.","et_ab_log_nonce":"aacb7c71b0","fill_message":"S'il vous pla\u00eet, remplissez les champs suivants:","contact_error_message":"Veuillez corriger les erreurs suivantes :","invalid":"E-mail non valide","captcha":"Captcha","prev":"Pr\u00e9c\u00e9dent","previous":"Pr\u00e9c\u00e9dente","next":"Prochaine","wrong_captcha":"Vous avez entr\u00e9 le mauvais num\u00e9ro dans le captcha.","is_builder_plugin_used":"","ignore_waypoints":"no","is_divi_theme_used":"1","widget_search_selector":".widget_search","is_ab_testing_active":"","page_id":"206071","unique_test_id":"","ab_bounce_rate":"5","is_cache_plugin_active":"no","is_shortcode_tracking":""};
        var et_pb_box_shadow_elements = [];
        /* ]]> */
    </script>
    <script type='text/javascript' src='../../../wp-content/themes/Divi/js/custom.min4f62.js?ver=3.0.106'></script>
    <script type='text/javascript' src='../../../wp-content/plugins/divi-100-article-card/assets/js/scriptseb35.js?ver=20160602'></script>
    <script type='text/javascript' src='../../../wp-content/plugins/divi-100-hamburger-menu/assets/js/scriptseb35.js?ver=20160602'></script>
    <script type='text/javascript' src='../../../wp-content/themes/Divi/core/admin/js/common4f62.js?ver=3.0.106'></script>
    <script type='text/javascript' src='../../../wp-content/uploads/wtfdivi/wp_footer6071.js?ver=1504648447'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/menu.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/wp-a11y.mind87f.js?ver=4.9.9'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var uiAutocompleteL10n = {"noResults":"Aucun r\u00e9sultat.","oneResult":"Un r\u00e9sultat trouv\u00e9. Utilisez les fl\u00e8ches haut et bas du clavier pour les parcourir. ","manyResults":"%d r\u00e9sultats trouv\u00e9s. Utilisez les fl\u00e8ches haut et bas du clavier pour les parcourir.","itemSelected":"\u00c9l\u00e9ment s\u00e9lectionn\u00e9."};
        /* ]]> */
    </script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/autocomplete.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/suggest.min3914.js?ver=1.1-20110113'></script>
    <script type='text/javascript' src='../../../wp-includes/js/jquery/ui/slider.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpuf_subscription = {"pack_notice":"Please Cancel Your Currently Active Pack first!"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='../../../wp-content/plugins/wp-user-frontend/assets/js/subscriptionsd87f.js?ver=4.9.9'></script>
    <script type='text/javascript' src='../../../wp-includes/js/wp-embed.mind87f.js?ver=4.9.9'></script>
    <style id="et-builder-module-design-cached-inline-styles">.et_pb_section_0{padding-top:51.1875px;padding-right:0px;padding-bottom:0px;padding-left:0px;border-top:solid 2px #00324f;background-color:#00324f}.et_pb_section_1{padding-top:51.1875px;padding-right:0px;padding-bottom:0px;padding-left:0px;border-top:solid 2px #00324f;background-color:#00324f}.et_pb_section_1.et_pb_section{background-color:#00324f!important}.et_pb_image_0{margin-left:0}.et_pb_text_0{font-weight:700;margin-top:120px!important}ul.et_pb_social_media_follow_0{padding-left:38px}.et_pb_text_1{font-weight:700;margin-top:120px!important}.et_pb_sidebar_0.et_pb_widget_area .et_pb_widget{text-align:right}.et_pb_social_media_follow_network_0 a.icon{background-color:#3b5998!important}.et_pb_social_media_follow_network_1 a.icon{background-color:#00aced!important}.et_pb_social_media_follow_network_2 a.icon{background-color:#517fa4!important}.et_pb_social_media_follow_network_3 a.icon{background-color:#007bb6!important}@media only screen and (max-width:980px){.et_pb_text_0{margin-top:0px!important}.et_pb_text_1{margin-top:0px!important}}@media only screen and (max-width:767px){.et_pb_text_0{margin-top:0px!important}.et_pb_text_1{margin-top:0px!important}}</style>
            </div>

            <script src="../../../dist/js/lightboxgallery-min.js"></script>
            <script type="text/javascript">

                navbar = document.getElementById("main-header");
                image = document.getElementById("logo");

                jQuery(function($) {
                    $(document).on('click', '.lightboxgallery-gallery-item', function(event) {
                        event.preventDefault();
                        $(this).lightboxgallery({

                        });

                        image.style.position = "absolute";

                    });
                });
            </script>
</body>

<!-- Mirrored from rotaractfrance.org/conference-du-rotaractinteract-district-1660/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Feb 2019 19:00:40 GMT -->
</html>